h1 {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    font-size: 1.6rem;
    width: max-content;
    animation: typing 3s steps(35) forwards;
    animation-delay: 0s;
}


h2 {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    font-size: 1.6rem;
    width: max-content;
    animation: 
      typing 3s steps(35) forwards,
      blink .8s infinite; 
    animation-delay: 5s;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
